@font-face {
    font-family: "Oxygen";
    src:url("fonts/Oxygen-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Gill";
    src: url("fonts/GillSansMTPro-Light.otf") format("opentype");
}

@font-face {
    font-family: "Simple";
    src: url("fonts/OpenSans-Regular.ttf") format("truetype");
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}


/* ---------- For use by JavaScript ---------- */

.body__backdrop{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
}

.nav__backdrop{
    display: none;
}

.only-modal{
    position: fixed;
    border: 1px solid rgb(117, 117, 117);
    z-index: 6;
    width: 28%;
    top: 20%;
    left: 36%;
    background-color: rgb(255, 255, 255);
    padding : 1rem;
    border-radius: 3px;
    display: none;
}

.only-modal p{
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
}

.only-modal__options{
    text-align: center;
}

.only-modal__option--yes,
.only-modal__option--no{
    border: 1px solid #0e4f1f;
    background: #005685;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-family: 'Oxygen';
    outline: none;
}

.only-modal__option--yes:hover,
.only-modal__option--yes:active,
.only-modal__option--no:hover,
.only-modal__option--no:active{
    background: rgb(255, 255, 255);
    color: #005685;
    border-color: #005685;
}


/* ---------- Main Content ---------- */

.body__main{
    min-height: calc(100vh - 48.76px);
}

.mobile-nav{
    display:none;
}

.toggle-button{
    display:none;
}

.close-svg{
    visibility: hidden;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
}

.nav-bar__brand{
    width: 100%;
    margin: 0 1rem;
}

.nav-bar__brand a{
    text-decoration: none;
    outline: none;
    font-size: 1.7rem;
    font-family: 'Oxygen';
    color: rgb(58, 22, 75);
}

.nav-bar__list{
    text-align: right;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.nav-bar__list--items{
    list-style: none;
    display: flex;
    margin-right: 0.5rem;
}

.nav-bar__list--item {
    box-sizing: border-box;
}

.nav-bar__list--item a{
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-size: 1.05rem;
    font-family: 'Oxygen';
    font-weight: 400;
    padding: 12px;
    color: #005685;
}


.nav-bar__list--item a:hover,
.nav-bar__list--item a:active{
    color:white;
    border-radius: 3%;
    background: #005685;
    cursor: pointer;

}

.nav-bar__shadow{
    border: 1px solid #e7e7e7;
    padding: 0.001px;
    border-radius: 50%;
}

.highlight{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 15%;
    background-color: #f7fbfd
}

.highlight__pix{
    margin-top: 3%;
    background:  #3f7fa1 url(images/0.jpeg) center;
    border-radius:50%;
    padding: 85px;
}

.highlight h1{
    font-family: 'Gill';
    font-size: 1.6rem;
    margin-top: 1.5rem;
}

.highlight p{
    font-family: 'Gill';
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    margin-top: 0;
}

.about-content{
    margin: 4rem 0;
    padding: 0 15%;
    display: flex;
    font-family: 'Simple';
    font-size: 1.05rem;
    justify-content: center;
    
}

.about-content__info h1,
.about-content__contact h1{
    margin: 0;
    text-align:center;
}

.about-content__info{
    padding-right: 2rem;
}

.about-content__info p{
    text-align: justify;
}

.about-content__seperator{
    border: 0.5px solid #b6b6b6;
    border-radius: 50%;
    padding: 10% 0;
}

.about-content__contact{
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
    padding-left: 2rem;
}

.about-content__contact--links{
    margin-top: 1rem;
    display:flex;
    flex-direction: column;
}

.about-content__contact a,
.about-content__contact p{
    outline: none;
    text-decoration: none;
    color: #005685;
    margin: 0.4rem 0;
    /* font-size: 1.2rem; */
}

.about-content p,
.about-content__contact p{
    padding: 0;
}

.linkedin{
    display:flex;
    align-items: center;
}

.linkedin svg{
    width: 21px;
    height: 21px;
}

.email{
    display:flex;
    align-items: center;
}

.email img{
    width:21px;
    height: 16px;
}


.alpha-footer{
    display: flex;
    justify-content: center;
    background-color: #005685;
    font-family: 'Oxygen';
    font-size: 0.9rem;
    padding: 0.9rem;
    color: white;
}